//eisenhower

.domain {
    fill: none;
    stroke: black;
    stroke-width; 1;
}

svg {
    vertical-align: middle;
    background: rgba(255,255,255, 0.2);
    box-shadow: inset 0 0 3px 0px #CECECE;
}

svg circle {
    stroke-width: 2px;
    /*stroke: #79A32B;*/
    stroke: #000;
    fill: transparent;
    cursor: pointer;
}

svg circle:active {
    stroke: #45D3C7;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

//rtm
button {
    display: block;
    width: 200px;
    border: 1px solid #808080;
    padding: 10px;
}
button#auth {
    width: 300px;
}
body {
    min-width: 800px;
}
#eisenhower {
    width:600px;
    float: left;
}
#lists {
    #width: 210px;
}
#tasks {
    float: right;
    min-width: 300px;
}
.task-div {
    padding: 5px;
}

.task-list-selected {
}
.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}
.task-hover {
    fill: orange;
}
